.board {
  width: 100%;
  height: 100%;
  position: relative;
}

.board .render-component {
  display: inline-block;
  position: absolute;
}

.board .cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.board .card {
  text-align: center;
}
